/* FAQ.css */
.faq-page {
  background-color: rgb(255, 255, 255);
}

.faq-header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10rem;
    font-family: "Abril Fatface", serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.faq-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-link {
    color: #5c715e;
    margin-top: 0px;
}
.faq-header-content h2 {
    margin-bottom: 0px;
}

.faq-container {
    margin: auto;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20rem;
  }
  .faq-item {
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
  }
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  
  .question-text {
    flex: 1; /* Takes up remaining space */
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
    font-size: 23px;
    font-family: "PT Sans", sans-serif;
    
  }

  .question-text:hover {
    color: #5c715e;
  }
  
  .arrow {
    font-size: 16px;
    color: #666;
  }
  
  .answer {
    padding: 10px;
    border-radius: 5px;
  }
  
  .chatbot-button {
    position: fixed !important;
    bottom: 15px !important;
    right: 20px !important;
    z-index: 999; /* Ensure it's above other elements */
    height: 58px !important;
    width: 58px !important;
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    padding-left: 6px !important;
    padding-right: 5px !important;
    font-size: 26px !important;
    cursor: pointer !important;
    border-radius: 50% !important;
    background-color: rgba(176, 204, 132, 0.8);;
    border: 2px rgba(176, 204, 132, 0.8);
    color: #696969;
}